In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\Aayush\Documents\Python Learning\Data-set\3. Police Data.csv")
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
df.shape

(65535, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [20]:
df.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [5]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [8]:
# Removing useless column

# df=df.drop(columns='country_name')
#df = df.drop(columns='search_type')
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

## For speeding, were Men or Women stopped more often?

In [13]:
df[df['violation']=='Speeding'].driver_gender.value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

In [14]:
df[df['violation']=='Speeding'].driver_race.value_counts()

driver_race
White       30186
Black        3658
Hispanic     2062
Asian        1173
Other         125
Name: count, dtype: int64

## Does gender affect who gets seached during a stop?

In [16]:
df.groupby('driver_gender')

In [18]:
df.groupby('driver_gender').search_conducted.value_counts()

driver_gender  search_conducted
F              False               15944
               True                  366
M              False               43051
               True                 2113
Name: count, dtype: int64

In [19]:
df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [22]:
df.search_conducted.value_counts()
# Search was conducted 2479 times. Out of which male were seached 2113 times and female were seached 366 times.

search_conducted
False    63056
True      2479
Name: count, dtype: int64

## What is the mean stop_duration?

In [23]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [24]:
df['stop_duration'].dtypes

dtype('O')

In [25]:
df['stop_duration'].value_counts()

stop_duration
0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [27]:
df['stop_duration']=df['stop_duration'].map({'0-15 Min':7.5,'16-30 Min':23,'30+ Min':30})

In [28]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,23.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.5,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.5,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.5,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.5,False

In [29]:
df['stop_duration'].mean()

11.355312815173894

In [8]:
# Analyze stop duration
stop_duration_stats = df.groupby('stop_duration').agg({'driver_age':['mean','median','max','min']})
stop_duration_stats

              driver_age
                    mean median   max   min
stop_duration
0-15 Min       34.021884   31.0  88.0  15.0
16-30 Min      34.120067   31.0  88.0  15.0
2              52.000000   52.0  52.0  52.0
30+ Min        36.548448   35.0  86.0  15.0

In [7]:
stop_outcome_distribution = df.groupby('stop_outcome').size()
stop_outcome_distribution

stop_outcome
Arrest Driver        2009
Arrest Passenger      251
Citation            56564
N/D                   423
No Action             339
Warning              1889
dtype: int64

## Compare the age distributions for each violation

In [31]:
g=df.groupby('driver_age')

In [32]:
g.violation.value_counts()

driver_age  violation
15.0        Moving violation        4
            Speeding                1
16.0        Speeding               18
            Moving violation        6
            Registration/plates     5
                                   ..
85.0        Moving violation        1
86.0        Speeding                3
            Moving violation        2
            Other                   1
88.0        Speeding                2
Name: count, Length: 333, dtype: int64

In [33]:
pd.set_option('display.max.rows',1000)

In [34]:
g.violation.value_counts()

driver_age  violation
15.0        Moving violation          4
            Speeding                  1
16.0        Speeding                 18
            Moving violation          6
            Registration/plates       5
            Equipment                 4
            Other                     1
17.0        Speeding                338
            Moving violation         63
            Equipment                32
            Other                     8
            Registration/plates       8
18.0        Speeding                980
            Moving violation        170
            Equipment               130
            Registration/plates      38
            Other                    26
19.0        Speeding               1655
            Moving violation        331
            Equipment               281
            Registration/plates      69
            Other                    52
20.0        Speeding               1856
            Moving violation        405
            Equipment               348
            Registration/plates     106
            Other                    68
21.0        Speeding               1902
            Moving violation        438
            Equipment               374
            Registration/plates      96
            Other                    75
22.0        Speeding               1883
            Moving violation        445
            Equipment               370
            Registration/plates     129
            Other                    85
23.0        Speeding               1727
            Moving violation        452
            Equipment               385
            Registration/plates      99
            Other                    61
            Seat belt                 1
24.0        Speeding               1668
            Moving violation        400
            Equipment               329
            Registration/plates     109
            Other                    77
25.0        Speeding               1478
            Moving violation        380
            Equipment               303
            Registration/plates      99
            Other                    97
26.0        Speeding               1377
            Moving violation        375
            Equipment               296
            Registration/plates     114
            Other                    91
            Seat belt                 1
27.0        Speeding               1252
            Moving violation        358
            Equipment               262
            Registration/plates      93
            Other                    82
28.0        Speeding               1216
            Moving violation        312
            Equipment               198
            Registration/plates      77
            Other                    65
29.0        Speeding               1078
            Moving violation        326
            Equipment               212
            Registration/plates      74
            Other                    68
30.0        Speeding               1018
            Moving violation        336
            Equipment               195
            Other                    80
            Registration/plates      60
31.0        Speeding                944
            Moving violation        275
            Equipment               191
            Other                    61
            Registration/plates      51
32.0        Speeding                888
            Moving violation        264
            Equipment               174
            Other                    82
            Registration/plates      69
33.0        Speeding                805
            Moving violation        258
            Equipment               162
            Other                    74
            Registration/plates      49
34.0        Speeding                721
            Moving violation        278
            Equipment               142
            Other                    76
            Registration/plates      51
35.0        Speeding                759
            Moving violation        248
            Equipment               153
            Other                    89
            Registration/plates      60
36.0        Speeding                742
            Moving violation        244
            Equipment               114
            Other                    83
            Registration/plates      43
37.0        Speeding                690
            Moving violation        220
            Equipment               112
            Other                    73
            Registration/plates      56
38.0        Speeding                693
            Moving violation        252
            Equipment               109
            Other                    73
            Registration/plates      40
39.0        Speeding                676
            Moving violation        281
            Equipment                92
            Other                    89
            Registration/plates      46
40.0        Speeding                661
            Moving violation        263
            Equipment               119
            Other                    97
            Registration/plates      53
41.0        Speeding                631
            Moving violation        265
            Equipment               100
            Other                    88
            Registration/plates      44
42.0        Speeding                637
            Moving violation        250
            Equipment               113
            Other                    90
            Registration/plates      41
            Seat belt                 1
43.0        Speeding                668
            Moving violation        263
            Equipment                95
            Other                    89
            Registration/plates      45
44.0        Speeding                607
            Moving violation        258
            Other                   100
            Equipment                96
            Registration/plates      32
45.0        Speeding                537
            Moving violation        237
            Other                   101
            Equipment                88
            Registration/plates      44
46.0        Speeding                535
            Moving violation        240
            Equipment                97
            Other                    96
            Registration/plates      36
47.0        Speeding                572
            Moving violation        211
            Equipment                80
            Other                    75
            Registration/plates      25
48.0        Speeding                556
            Moving violation        243
            Other                   116
            Equipment                73
            Registration/plates      24
49.0        Speeding                435
            Moving violation        219
            Other                    93
            Equipment                72
            Registration/plates      27
50.0        Speeding                496
            Moving violation        234
            Other                    99
            Equipment                74
            Registration/plates      26
51.0        Speeding                424
            Moving violation        208
            Other                    73
            Equipment                69
            Registration/plates      33
52.0        Speeding                442
            Moving violation        185
            Other                    89
            Equipment                51
            Registration/plates      27
53.0        Speeding                391
            Moving violation        185
            Other                    69
            Equipment                54
            Registration/plates      19
54.0        Speeding                385
            Moving violation        168
            Other                    62
            Equipment                38
            Registration/plates      19
55.0        Speeding                341
            Moving violation        157
            Other                    57
            Equipment                35
            Registration/plates      17
56.0        Speeding                275
            Moving violation        137
            Other                    56
            Equipment                38
            Registration/plates      18
57.0        Speeding                284
            Moving violation        122
            Other                    60
            Equipment                39
            Registration/plates       7
58.0        Speeding                244
            Moving violation        130
            Other                    40
            Equipment                21
            Registration/plates      14
59.0        Speeding                222
            Moving violation        109
            Other                    48
            Equipment                32
            Registration/plates      13
60.0        Speeding                197
            Moving violation         93
            Other                    34
            Equipment                31
            Registration/plates       9
61.0        Speeding                169
            Moving violation         89
            Other                    41
            Equipment                24
            Registration/plates       3
62.0        Speeding                163
            Moving violation         79
            Other                    26
            Equipment                20
            Registration/plates       4
63.0        Speeding                135
            Moving violation         62
            Other                    34
            Equipment                14
            Registration/plates       6
64.0        Speeding                145
            Moving violation         50
            Other                    19
            Equipment                 5
            Registration/plates       2
65.0        Speeding                103
            Moving violation         55
            Other                    19
            Equipment                 7
            Registration/plates       2
66.0        Speeding                 86
            Moving violation         46
            Other                    16
            Equipment                16
            Registration/plates       3
67.0        Speeding                 67
            Moving violation         33
            Other                    11
            Equipment                 7
68.0        Speeding                 59
            Moving violation         28
            Other                    12
            Equipment                 5
            Registration/plates       1
69.0        Speeding                 50
            Moving violation         15
            Equipment                 3
            Other                     2
            Registration/plates       1
70.0        Speeding                 43
            Moving violation         20
            Equipment                 5
            Other                     3
            Registration/plates       1
71.0        Speeding                 35
            Moving violation         11
            Other                     6
            Equipment                 1
72.0        Speeding                 24
            Moving violation         16
            Other                     6
            Equipment                 4
            Registration/plates       1
73.0        Speeding                 27
            Moving violation         13
            Equipment                 3
            Other                     2
            Registration/plates       1
74.0        Speeding                 21
            Moving violation         12
            Other                     3
            Equipment                 1
            Registration/plates       1
75.0        Speeding                 20
            Moving violation         10
            Equipment                 3
            Other                     1
76.0        Moving violation         12
            Speeding                  9
            Other                     2
            Equipment                 1
77.0        Speeding                 16
            Moving violation          5
            Equipment                 2
            Other                     2
78.0        Moving violation          7
            Speeding                  5
            Other                     2
79.0        Speeding                 13
            Moving violation          3
            Equipment                 1
80.0        Speeding                  6
            Moving violation          5
            Equipment                 1
81.0        Speeding                  3
            Moving violation          2
            Equipment                 1
82.0        Speeding                  7
            Other                     1
            Moving violation          1
83.0        Speeding                  1
            Moving violation          1
84.0        Speeding                  3
85.0        Moving violation          1
86.0        Speeding                  3
            Moving violation          2
            Other                     1
88.0        Speeding                  2
Name: count, dtype: int64

In [35]:
df.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

In [36]:
df['violation'].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [4]:
# Explore driver demographic
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
df1=df.groupby(['driver_gender','driver_race']).agg({'driver_age':['mean','median','count']})
df1

                          driver_age
                                mean median  count
driver_gender driver_race
F             Asian        31.978082   29.0    365
              Black        31.091355   28.0   1631
              Hispanic     30.685149   28.0   1010
              Other        30.913043   26.0     23
              White        32.726408   29.0  13246
M             Asian        34.004728   31.0   1269
              Black        34.366808   32.0   6592
              Hispanic     32.291931   30.0   4573
              Other        35.390374   33.0    187
              White        35.239157   32.0  32326

In [6]:
# Search Conducted Analysis:

search_conducted_proportion = df['search_conducted'].value_counts(normalize=True)*100
search_conducted_proportion

search_conducted
False    96.217288
True      3.782712
Name: proportion, dtype: float64

In [9]:
# drugs_related stop Analysis
drugs_related_stop_frequency = df['drugs_related_stop'].value_counts()
drugs_related_stop_frequency

drugs_related_stop
False    65017
True       518
Name: count, dtype: int64

In [13]:
drs= df.groupby(['driver_gender','drugs_related_stop']).agg({'drugs_related_stop':['count']})
drs

                                 drugs_related_stop
                                              count
driver_gender drugs_related_stop
F             False                           16254
              True                               56
M             False                           44702
              True                              462

In [14]:
df['is_arrested'].value_counts()

is_arrested
False    59215
True      2260
Name: count, dtype: int64

In [15]:
drs= df.groupby(['driver_gender','is_arrested']).agg({'is_arrested':['count']})
drs

                          is_arrested
                                count
driver_gender is_arrested
F             False             15846
              True                464
M             False             43368
              True               1796